# Leemos el archivo .csv

In [1]:
import pandas as pd
import csv

df = pd.read_csv('Incidents_Responded_to_by_Fire_Companies.csv')

/home/dsc/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df.head()

,IM_INCIDENT_KEY,FIRE_BOX,INCIDENT_TYPE_DESC,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,UNITS_ONSCENE,LAST_UNIT_CLEARED_DATE_TIME,HIGHEST_LEVEL_DESC,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,...,ZIP_CODE,BOROUGH_DESC,FLOOR,CO_DETECTOR_PRESENT_DESC,FIRE_ORIGIN_BELOW_GRADE_FLAG,STORY_FIRE_ORIGIN_COUNT,FIRE_SPREAD_DESC,DETECTOR_PRESENCE_DESC,AES_PRESENCE_DESC,STANDPIPE_SYS_PRESENT_FLAG
0,63476768,2928,"746 - Carbon monoxide detector activation, no CO",06/30/2018 11:55:29 PM,07/01/2018 12:00:32 AM,2.0,07/01/2018 12:22:57 AM,11 - First Alarm,1648.0,"42 - HazMat detection, monitoring, sampling, &...",...,10453,2 - Bronx,1,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,63476763,1021,"300 - Rescue, EMS incident, other",06/30/2018 11:54:44 PM,06/30/2018 11:58:59 PM,1.0,07/01/2018 12:09:29 AM,11 - First Alarm,885.0,"00 - Action taken, other",...,11203,4 - Brooklyn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63476761,2745,"651 - Smoke scare, odor of smoke",06/30/2018 11:54:13 PM,06/30/2018 11:58:29 PM,3.0,07/01/2018 12:07:50 AM,11 - First Alarm,817.0,"00 - Action taken, other",...,10456,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63476762,2135,"117 - Commercial Compactor fire, confined to r...",06/30/2018 11:54:08 PM,06/30/2018 11:58:53 PM,5.0,07/01/2018 12:19:16 AM,11 - First Alarm,1508.0,11 - Extinguishment by fire service personnel,...,10454,2 - Bronx,basement,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63476759,1877,"710 - Malicious, mischievous false call, other",06/30/2018 11:53:33 PM,06/30/2018 11:56:50 PM,1.0,06/30/2018 11:57:11 PM,11 - First Alarm,218.0,"00 - Action taken, other",...,11208,4 - Brooklyn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(2518758, 24)

In [5]:
df.isnull().sum().sum()

23920781

# Leemos el csv Fire Boxes

In [3]:
df1 = pd.read_csv('Fire_Boxes.csv', header=None)

In [4]:
df1.head()

          0         1      2                           3
0 -73.93253  40.72795  B0014    Gardner Ave & Meeker Ave
1 -73.93146  40.72563  B0015    Gardner Ave & Cherry  St
2 -73.93622  40.72748  B0018  Bridgewater St & Varick St
3 -73.95612  40.72601  B0020    Meserole Ave & Banker St
4 -73.95865  40.73626  B0023     Commercial St & Clay St

# Cambiamos el nombre de las columnas de df1

In [8]:
df1.columns

Int64Index([0, 1, 2, 3], dtype='int64')

In [9]:
#cambiamos el tipo a string

df1.columns.astype(str)

Index(['0', '1', '2', '3'], dtype='object')

In [10]:
#modificamos el nombre de las columnas

df1.columns = ['Long', 'Lat', 'FIRE_BOX', 'Adress']

In [11]:
df1.columns

Index(['Long', 'Lat', 'FIRE_BOX', 'Adress'], dtype='object')

In [12]:
df1.head()

       Long       Lat FIRE_BOX                      Adress
0 -73.93253  40.72795    B0014    Gardner Ave & Meeker Ave
1 -73.93146  40.72563    B0015    Gardner Ave & Cherry  St
2 -73.93622  40.72748    B0018  Bridgewater St & Varick St
3 -73.95612  40.72601    B0020    Meserole Ave & Banker St
4 -73.95865  40.73626    B0023     Commercial St & Clay St

In [13]:
len(df1["FIRE_BOX"].unique())

16284

In [14]:
len(df1["FIRE_BOX"])

16284

# Modificamos los dataframe para poder hacer .merge

In [15]:
#aÃ±ado ceros en la columna Fire_box del df principal, para que sean nÃºmeros de 4 cifras

df['FIRE_BOX'] = df['FIRE_BOX'].apply(lambda x: '{0:0>4}'.format(x))

In [16]:
df.head()

,IM_INCIDENT_KEY,FIRE_BOX,INCIDENT_TYPE_DESC,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,UNITS_ONSCENE,LAST_UNIT_CLEARED_DATE_TIME,HIGHEST_LEVEL_DESC,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,...,ZIP_CODE,BOROUGH_DESC,FLOOR,CO_DETECTOR_PRESENT_DESC,FIRE_ORIGIN_BELOW_GRADE_FLAG,STORY_FIRE_ORIGIN_COUNT,FIRE_SPREAD_DESC,DETECTOR_PRESENCE_DESC,AES_PRESENCE_DESC,STANDPIPE_SYS_PRESENT_FLAG
0,63476768,2928,"746 - Carbon monoxide detector activation, no CO",06/30/2018 11:55:29 PM,07/01/2018 12:00:32 AM,2.0,07/01/2018 12:22:57 AM,11 - First Alarm,1648.0,"42 - HazMat detection, monitoring, sampling, &...",...,10453,2 - Bronx,1,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,63476763,1021,"300 - Rescue, EMS incident, other",06/30/2018 11:54:44 PM,06/30/2018 11:58:59 PM,1.0,07/01/2018 12:09:29 AM,11 - First Alarm,885.0,"00 - Action taken, other",...,11203,4 - Brooklyn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63476761,2745,"651 - Smoke scare, odor of smoke",06/30/2018 11:54:13 PM,06/30/2018 11:58:29 PM,3.0,07/01/2018 12:07:50 AM,11 - First Alarm,817.0,"00 - Action taken, other",...,10456,2 - Bronx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63476762,2135,"117 - Commercial Compactor fire, confined to r...",06/30/2018 11:54:08 PM,06/30/2018 11:58:53 PM,5.0,07/01/2018 12:19:16 AM,11 - First Alarm,1508.0,11 - Extinguishment by fire service personnel,...,10454,2 - Bronx,basement,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63476759,1877,"710 - Malicious, mischievous false call, other",06/30/2018 11:53:33 PM,06/30/2018 11:56:50 PM,1.0,06/30/2018 11:57:11 PM,11 - First Alarm,218.0,"00 - Action taken, other",...,11208,4 - Brooklyn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
#funcion para eliminar las letras de la columna Borough_desc

def remove(letter):
    return "".join(x for x in letter if x.isdigit())

In [18]:
#aplico la funcion remove sobre la columna Borough_desc

df.BOROUGH_DESC = df.BOROUGH_DESC.map(remove) #aplico la funcion remove sobre la columna Borough_desc

In [19]:
#por si han quedado espacios en blanco, los elimino

df['BOROUGH_DESC'].str.replace(' ','')

0          2
1          4
2          2
3          2
4          4
          ..
2518753    5
2518754    5
2518755    5
2518756    1
2518757    2
Name: BOROUGH_DESC, Length: 2518758, dtype: object

In [20]:
#cambio los numeros por letras

var_letter = df["BOROUGH_DESC"].astype(str)

df["BOROUGH_DESC"] = var_letter.replace({"1":"M", "2":"X", "3":"R", "4":"B", "5":"Q"}, regex=True)

In [21]:
df["BOROUGH_DESC"][1]

'B'

In [22]:
df.head()

,IM_INCIDENT_KEY,FIRE_BOX,INCIDENT_TYPE_DESC,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,UNITS_ONSCENE,LAST_UNIT_CLEARED_DATE_TIME,HIGHEST_LEVEL_DESC,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,...,ZIP_CODE,BOROUGH_DESC,FLOOR,CO_DETECTOR_PRESENT_DESC,FIRE_ORIGIN_BELOW_GRADE_FLAG,STORY_FIRE_ORIGIN_COUNT,FIRE_SPREAD_DESC,DETECTOR_PRESENCE_DESC,AES_PRESENCE_DESC,STANDPIPE_SYS_PRESENT_FLAG
0,63476768,2928,"746 - Carbon monoxide detector activation, no CO",06/30/2018 11:55:29 PM,07/01/2018 12:00:32 AM,2.0,07/01/2018 12:22:57 AM,11 - First Alarm,1648.0,"42 - HazMat detection, monitoring, sampling, &...",...,10453,X,1,Yes,NaN,NaN,NaN,NaN,NaN,NaN
1,63476763,1021,"300 - Rescue, EMS incident, other",06/30/2018 11:54:44 PM,06/30/2018 11:58:59 PM,1.0,07/01/2018 12:09:29 AM,11 - First Alarm,885.0,"00 - Action taken, other",...,11203,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63476761,2745,"651 - Smoke scare, odor of smoke",06/30/2018 11:54:13 PM,06/30/2018 11:58:29 PM,3.0,07/01/2018 12:07:50 AM,11 - First Alarm,817.0,"00 - Action taken, other",...,10456,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,63476762,2135,"117 - Commercial Compactor fire, confined to r...",06/30/2018 11:54:08 PM,06/30/2018 11:58:53 PM,5.0,07/01/2018 12:19:16 AM,11 - First Alarm,1508.0,11 - Extinguishment by fire service personnel,...,10454,X,basement,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,63476759,1877,"710 - Malicious, mischievous false call, other",06/30/2018 11:53:33 PM,06/30/2018 11:56:50 PM,1.0,06/30/2018 11:57:11 PM,11 - First Alarm,218.0,"00 - Action taken, other",...,11208,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
#uno las dos columnas en una nueva

df['FIRE_BOXX'] = df.apply(lambda row: row['BOROUGH_DESC'] + row['FIRE_BOX'], axis=1)

In [24]:
df.head()

,IM_INCIDENT_KEY,FIRE_BOX,INCIDENT_TYPE_DESC,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,UNITS_ONSCENE,LAST_UNIT_CLEARED_DATE_TIME,HIGHEST_LEVEL_DESC,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,...,BOROUGH_DESC,FLOOR,CO_DETECTOR_PRESENT_DESC,FIRE_ORIGIN_BELOW_GRADE_FLAG,STORY_FIRE_ORIGIN_COUNT,FIRE_SPREAD_DESC,DETECTOR_PRESENCE_DESC,AES_PRESENCE_DESC,STANDPIPE_SYS_PRESENT_FLAG,FIRE_BOXX
0,63476768,2928,"746 - Carbon monoxide detector activation, no CO",06/30/2018 11:55:29 PM,07/01/2018 12:00:32 AM,2.0,07/01/2018 12:22:57 AM,11 - First Alarm,1648.0,"42 - HazMat detection, monitoring, sampling, &...",...,X,1,Yes,NaN,NaN,NaN,NaN,NaN,NaN,X2928
1,63476763,1021,"300 - Rescue, EMS incident, other",06/30/2018 11:54:44 PM,06/30/2018 11:58:59 PM,1.0,07/01/2018 12:09:29 AM,11 - First Alarm,885.0,"00 - Action taken, other",...,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B1021
2,63476761,2745,"651 - Smoke scare, odor of smoke",06/30/2018 11:54:13 PM,06/30/2018 11:58:29 PM,3.0,07/01/2018 12:07:50 AM,11 - First Alarm,817.0,"00 - Action taken, other",...,X,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X2745
3,63476762,2135,"117 - Commercial Compactor fire, confined to r...",06/30/2018 11:54:08 PM,06/30/2018 11:58:53 PM,5.0,07/01/2018 12:19:16 AM,11 - First Alarm,1508.0,11 - Extinguishment by fire service personnel,...,X,basement,NaN,NaN,NaN,NaN,NaN,NaN,NaN,X2135
4,63476759,1877,"710 - Malicious, mischievous false call, other",06/30/2018 11:53:33 PM,06/30/2018 11:56:50 PM,1.0,06/30/2018 11:57:11 PM,11 - First Alarm,218.0,"00 - Action taken, other",...,B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,B1877

In [25]:
len(df["FIRE_BOXX"].unique())

36625

In [26]:
#modifico el nombre de las columnas del df1

df1.columns = ['Long', 'Lat', 'FIRE_BOXX', 'Adress']

In [27]:
df1.head()

       Long       Lat FIRE_BOXX                      Adress
0 -73.93253  40.72795     B0014    Gardner Ave & Meeker Ave
1 -73.93146  40.72563     B0015    Gardner Ave & Cherry  St
2 -73.93622  40.72748     B0018  Bridgewater St & Varick St
3 -73.95612  40.72601     B0020    Meserole Ave & Banker St
4 -73.95865  40.73626     B0023     Commercial St & Clay St

# Juntamos el df con df1 por la columna FIRE_BOXX

In [28]:
df2 = pd.merge(df, df1)

In [29]:
df2.head()

,IM_INCIDENT_KEY,FIRE_BOX,INCIDENT_TYPE_DESC,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,UNITS_ONSCENE,LAST_UNIT_CLEARED_DATE_TIME,HIGHEST_LEVEL_DESC,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,...,FIRE_ORIGIN_BELOW_GRADE_FLAG,STORY_FIRE_ORIGIN_COUNT,FIRE_SPREAD_DESC,DETECTOR_PRESENCE_DESC,AES_PRESENCE_DESC,STANDPIPE_SYS_PRESENT_FLAG,FIRE_BOXX,Long,Lat,Adress
0,63476768,2928,"746 - Carbon monoxide detector activation, no CO",06/30/2018 11:55:29 PM,07/01/2018 12:00:32 AM,2.0,07/01/2018 12:22:57 AM,11 - First Alarm,1648.0,"42 - HazMat detection, monitoring, sampling, &...",...,NaN,NaN,NaN,NaN,NaN,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St
1,63332690,2928,735A - Unwarranted alarm/defective condition o...,06/02/2018 07:43:40 AM,06/02/2018 07:48:48 AM,6.0,06/02/2018 08:11:31 AM,11 - First Alarm,1671.0,86 - Investigate,...,NaN,NaN,NaN,NaN,NaN,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St
2,63257739,2928,"300 - Rescue, EMS incident, other",05/17/2018 02:02:41 PM,05/17/2018 02:07:16 PM,1.0,05/17/2018 02:49:41 PM,11 - First Alarm,2820.0,"00 - Action taken, other",...,NaN,NaN,NaN,NaN,NaN,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St
3,63208527,2928,522 - Water or steam leak,05/07/2018 06:13:26 AM,05/07/2018 06:19:36 AM,1.0,05/07/2018 06:34:01 AM,11 - First Alarm,1235.0,86 - Investigate,...,NaN,NaN,NaN,NaN,NaN,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St
4,63187162,2928,"300 - Rescue, EMS incident, other",05/02/2018 07:36:23 PM,05/02/2018 07:47:00 PM,1.0,05/02/2018 08:17:48 PM,11 - First Alarm,2485.0,"00 - Action taken, other",...,NaN,NaN,NaN,NaN,NaN,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St

In [30]:
df2.shape

(2075835, 28)

In [31]:
df.isnull().sum()

IM_INCIDENT_KEY                       0
FIRE_BOX                              0
INCIDENT_TYPE_DESC                    0
INCIDENT_DATE_TIME                    0
ARRIVAL_DATE_TIME                 62312
UNITS_ONSCENE                     62523
LAST_UNIT_CLEARED_DATE_TIME           2
HIGHEST_LEVEL_DESC                  152
TOTAL_INCIDENT_DURATION             149
ACTION_TAKEN1_DESC                    0
ACTION_TAKEN2_DESC              1983186
ACTION_TAKEN3_DESC              2273503
PROPERTY_USE_DESC                     6
STREET_HIGHWAY                    38157
ZIP_CODE                             12
BOROUGH_DESC                          0
FLOOR                           1975680
CO_DETECTOR_PRESENT_DESC        2485756
FIRE_ORIGIN_BELOW_GRADE_FLAG    2516700
STORY_FIRE_ORIGIN_COUNT         2504526
FIRE_SPREAD_DESC                2504527
DETECTOR_PRESENCE_DESC          2504528
AES_PRESENCE_DESC               2504528
STANDPIPE_SYS_PRESENT_FLAG      2504524
FIRE_BOXX                             0
dtype: int64

In [32]:
df2.isnull().sum()

IM_INCIDENT_KEY                       0
FIRE_BOX                              0
INCIDENT_TYPE_DESC                    0
INCIDENT_DATE_TIME                    0
ARRIVAL_DATE_TIME                 48193
UNITS_ONSCENE                     48372
LAST_UNIT_CLEARED_DATE_TIME           2
HIGHEST_LEVEL_DESC                  125
TOTAL_INCIDENT_DURATION             127
ACTION_TAKEN1_DESC                    0
ACTION_TAKEN2_DESC              1655957
ACTION_TAKEN3_DESC              1882120
PROPERTY_USE_DESC                     5
STREET_HIGHWAY                    30677
ZIP_CODE                              8
BOROUGH_DESC                          0
FLOOR                           1612987
CO_DETECTOR_PRESENT_DESC        2047909
FIRE_ORIGIN_BELOW_GRADE_FLAG    2074064
STORY_FIRE_ORIGIN_COUNT         2063667
FIRE_SPREAD_DESC                2063668
DETECTOR_PRESENCE_DESC          2063668
AES_PRESENCE_DESC               2063668
STANDPIPE_SYS_PRESENT_FLAG      2063665
FIRE_BOXX                             0
Long                                  0
Lat                                   0
Adress                                0
dtype: int64

In [33]:
df2.isnull().sum().sum()

19718882

In [34]:
#df2.reset_index()

# Eliminamos columnas que no necesitamos

In [35]:
df2 = df2.drop(['FIRE_ORIGIN_BELOW_GRADE_FLAG', 
               'STORY_FIRE_ORIGIN_COUNT', 
               'FIRE_SPREAD_DESC', 
               'DETECTOR_PRESENCE_DESC', 
               'AES_PRESENCE_DESC', 
               'STANDPIPE_SYS_PRESENT_FLAG', 
               'FLOOR', 
                'ACTION_TAKEN2_DESC', 
                'ACTION_TAKEN3_DESC'], axis=1)

In [36]:
df2.head()

,IM_INCIDENT_KEY,FIRE_BOX,INCIDENT_TYPE_DESC,INCIDENT_DATE_TIME,ARRIVAL_DATE_TIME,UNITS_ONSCENE,LAST_UNIT_CLEARED_DATE_TIME,HIGHEST_LEVEL_DESC,TOTAL_INCIDENT_DURATION,ACTION_TAKEN1_DESC,PROPERTY_USE_DESC,STREET_HIGHWAY,ZIP_CODE,BOROUGH_DESC,CO_DETECTOR_PRESENT_DESC,FIRE_BOXX,Long,Lat,Adress
0,63476768,2928,"746 - Carbon monoxide detector activation, no CO",06/30/2018 11:55:29 PM,07/01/2018 12:00:32 AM,2.0,07/01/2018 12:22:57 AM,11 - First Alarm,1648.0,"42 - HazMat detection, monitoring, sampling, &...",429 - Multifamily dwelling,UNDERCLIFF AVE,10453,X,Yes,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St
1,63332690,2928,735A - Unwarranted alarm/defective condition o...,06/02/2018 07:43:40 AM,06/02/2018 07:48:48 AM,6.0,06/02/2018 08:11:31 AM,11 - First Alarm,1671.0,86 - Investigate,UUU - Undetermined,UNDERCLIFF AVE,10453,X,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St
2,63257739,2928,"300 - Rescue, EMS incident, other",05/17/2018 02:02:41 PM,05/17/2018 02:07:16 PM,1.0,05/17/2018 02:49:41 PM,11 - First Alarm,2820.0,"00 - Action taken, other",UUU - Undetermined,UNDERCLIFF AVE,10453,X,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St
3,63208527,2928,522 - Water or steam leak,05/07/2018 06:13:26 AM,05/07/2018 06:19:36 AM,1.0,05/07/2018 06:34:01 AM,11 - First Alarm,1235.0,86 - Investigate,429 - Multifamily dwelling,UNDERCLIFF AVE,10453,X,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St
4,63187162,2928,"300 - Rescue, EMS incident, other",05/02/2018 07:36:23 PM,05/02/2018 07:47:00 PM,1.0,05/02/2018 08:17:48 PM,11 - First Alarm,2485.0,"00 - Action taken, other",UUU - Undetermined,UNDERCLIFF AVE,10453,X,NaN,X2928,-73.922135,40.849047,Undercliff Ave & W 175th St

In [37]:
df2.shape

(2075835, 19)

#### Guardamos el csv resultante

In [38]:
df2.to_csv('df_null.csv', header=True, index=False)

## NOTA

Al realizar el .merge de los dos dataframes, la longitud ha cambiado, de 2.518.758 he pasado a 2.075.835. 
Esto se debe a que el dataset Fire_Boxes no tiene la latitud y longitud de todos los fire box que hay en la ciudad de Nueva York. 
No he conseguido encontrar un dataset que lo tuviera. Por este motivo, he decidido seguir con los datos que han resultado de la combinacion de ambos dataset, ya que es la Ãºnica manera de poder tener los puntos geogrÃ¡ficos.